/* Utility Classes */
.hidden {
  display: none;
}

/* Styling Classes */
.photo {
  position: relative;
}

.photo__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(53, 53, 53);
  color: white;
  margin: 0;
  padding: 1rem 0;
  opacity: 0.6;
}
