.gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}

.gallery__button {
  position: absolute;
  top: 40%;
  bottom: 40%;
  z-index: 1;
  border: none;
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.6;
  border: 1px solid transparent;
  transition: all 0.4s ease-in-out;
}

.gallery__button:hover,
.gallery__button:focus {
  background-color: rgb(53, 53, 53);
  border: 1px solid white;
}

.gallery__button--prev {
  left: 0;
}

.gallery__button--next {
  right: 0;
}

.gallery__images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.gallery__item {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 800px;
  }
}
